<!-- Incluir o arquivo Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!-- Elemento onde o gráfico será renderizado -->
<h1>Line Chart Normalized V2 Alpine js</h1>

<div x-data="chartData()" x-init="fetchData()">
    <div x-show="loading">Loading data...</div>
    <canvas id="line-chart-js" width="800" height="400" x-show="!loading"></canvas>
</div>

<script>
    function chartData() {
        return {
            auth_token: sessionStorage.getItem('auth_token'),
            stockHistoryList: [],
            companiesData: {
                labels: [],
                datasets: [],
            },
            loading: true,
            fetchData() {
                fetch('{% url 'yahoo_finances:fixed_data' %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Token ${this.auth_token}`,
                    },
                    body: JSON.stringify({
                        'symbols': ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'TSLA'],
                    })
                })
                .then(response => response.json())
                .then(data => {
                    this.stockHistoryList = data;
                    this.updateChart();
                    this.loading = false;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    this.loading = false;
                });
            },
            updateChart() {
                this.stockHistoryList.forEach(stock => {
                    const stockHistoryData = {
                        label: stock.symbol,
                        data: stock.history.map(item => {
                            return { x: item.date, y: item.value };
                        }),
                        borderColor: this.getRandomColor(),
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                    };
                    this.companiesData.datasets.push(stockHistoryData);
                });

                const ctx = document.getElementById('line-chart-js').getContext('2d');

                new Chart(ctx, {
                    type: 'line',
                    data: this.companiesData,
                    options: {
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'month',
                                },
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10
                                }
                            },
                            y: {
                                ticks: {
                                    beginAtZero: false
                                }
                            }
                        }
                    }
                });
            },
            getRandomColor() {
                const letters = '0123456789ABCDEF';
                let color = '#';
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        }
    }
</script>
