<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Stocks</title>
    <!-- Incluir o arquivo Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

</head>
<body>
    {% #card heading="I am the heading" %}
        <span>Hello {{ name|title }}!</span>
    {% /card %}
    {% count_button initial_clicks=666 %}
    <h1>Qute Stocks</h1>
    <!-- Elemento onde o gráfico será renderizado -->
    <canvas id="multipleCompaniesChart" width="800" height="400"></canvas>

    <script>
        // Obter o contexto do canvas
        var ctx = document.getElementById('multipleCompaniesChart').getContext('2d');

        // Dados de exemplo
        var companiesData = {
            labels: [], // Rótulos de data
            datasets: [],
        };

        // Iterar sobre os dados passados pelo Django
        {% for stock in stocks %}
            var stockHistoryData = {
                label: '{{ stock.symbol }}',
                data: [ 
                    {% for history in stock.stock_history %}
                        { x: '{{ history.date|date:"Y-m-d" }}', y: {{ history.normalized_close }} },
                    {% endfor %} 
                    ],
                borderColor: getRandomColor(), // Cor aleatória para cada conjunto de dados
                fill: false, // Não preencher a área sob a linha
                cubicInterpolationMode: 'monotone',
            };
            companiesData.datasets.push(stockHistoryData);
        {% endfor %}

        // Configurar o gráfico
        var options = {
            scales: {
                x: {
                    type: 'time', // Especificar o tipo de escala como tempo
                    time: {
                        unit: 'month', // Exibir as barras de intervalo em meses
                    },
                    ticks: {
                        autoSkip: true, // Pular automaticamente as etiquetas do eixo X se houver muitas
                        maxTicksLimit: 10 // Limitar o número máximo de etiquetas do eixo X
                    }
                },
                y: {
                    ticks: {
                        beginAtZero: false // Permitir que o eixo Y comece em zero
                    }
                }
            }
        };

        // Criar o gráfico de linha
        var multipleCompaniesChart = new Chart(ctx, {
            type: 'line',
            data: companiesData,
            options: options
        });

        // Função para gerar uma cor aleatória
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
</body>
</html>
