    {% comment %} Table companies Component {% endcomment %}
    <div 
        x-data="tableData()"
        x-init = "fetchData()"
        id="table-companies-component"
    >
        {% comment %} If Not laod yet {% endcomment %}
        <div x-show="companies.length === 0" class="text-center text-gray-400">
            Carregando lista de companies...
        </div>
            
        {% comment %} If laod {% endcomment %}
        <table x-show="companies.length > 0" class="min-w-full bg-gray-800 text-white border border-gray-700 rounded-lg overflow-hidden">
            <thead class="bg-gray-900">
                <tr>
                    <th class="py-2 px-4 border-b border-gray-700 text-left">Symbol</th>
                    <th class="py-2 px-4 border-b border-gray-700 text-left">Name</th>
                    <th class="py-2 px-4 border-b border-gray-700 text-left">País</th>
                    <th class="py-2 px-4 border-b border-gray-700 text-left">Setor</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="company in companies" :key="company.id">
                    <tr class="odd:bg-gray-700 even:bg-gray-600">
                        <td class="py-2 px-4 border-b border-gray-700" x-text="company.symbol"></td>
                        <td class="py-2 px-4 border-b border-gray-700" x-text="company.long_name"></td>
                        <td class="py-2 px-4 border-b border-gray-700" x-text="company.country"></td>
                        <td class="py-2 px-4 border-b border-gray-700" x-text="company.sector"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>

    <script>
        console.log('Table Companies Component');
        function tableData() {
            return {
                companies: [],
                fetchData() {
                    fetch('{% url 'yahoo_finances:company-list' %}')
                        .then(response => response.json())
                        .then(json => this.companies = json.results);
                }
            }
        }
    </script>